XMLTaskB7IK21/DOMParseB7IK21/XMLSchemaB7IK21.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.example.org/XMLShemaB7IK21"
	elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sportuzletek">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="sportuzlet" minOccurs="1"
								maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string" />
										<xs:element name="nyitvatartas" type="xs:string" />
										<xs:element name="elerhetoseg">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="weboldal" type="xs:string" />
													<xs:element name="telefonszam"
														type="telefonTipus" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="sportuzletid" type="xs:string" />
									<xs:attribute name="futocipoid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="futocipok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="futocipo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="futocipo_nev" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="futocipoid" type="xs:string" />
									<xs:attribute name="vasarloid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fut_szinek">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="fut_szin">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="szin" type="szinTipus" />
									</xs:sequence>
									<xs:attribute name="futocipoid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="fut_meretek">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="fut_meret">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="meret" type="meretTipus" />
									</xs:sequence>
									<xs:attribute name="futocipoid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="vasarlok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="vasarlo">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string" />
										<xs:element name="telefonszam" type="telefonTipus" />
										<xs:element name="cim">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="iranyitoszam"
														type="irányitoszamTipus" />
													<xs:element name="varos" type="xs:string" />
													<xs:element name="utca" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="vasarloid" type="xs:string" />
									<xs:attribute name="futocipoid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="szemelyigazolvanyok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="szemelyigazolvany">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string" />
										<xs:element name="cim">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="iranyitoszam"
														type="irányitoszamTipus" />
													<xs:element name="varos" type="xs:string" />
													<xs:element name="utca" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="sz_igazolvanyid" type="xs:string" />
									<xs:attribute name="vasarloid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="bankkartyak">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="bankkartya">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="lejarati_datum" type="datumTipus" />
										<xs:element name="bank" type="xs:string" />
										<xs:element name="tipus" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="kartyaszam"
										type="xs:positiveInteger" />
									<xs:attribute name="vasarloid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="beszallitasok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="beszallitas">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="datum" type="datumTipus" />
										<xs:element name="futocipok" type="xs:string" />
									</xs:sequence>
									<xs:attribute name="beszallitoid" type="xs:string" />
									<xs:attribute name="sportuzletid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="beszallitok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="beszallito">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string" />
										<xs:element name="cim" type="xs:string" />
										<xs:element name="elerhetoseg">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="iranyitoszam"
														type="irányitoszamTipus" />
													<xs:element name="varos" type="xs:string" />
													<xs:element name="utca" type="xs:string" />
													<xs:element name="hazszam"
														type="xs:positiveInteger" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="beszallitoid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="kiszallitok">
					<xs:complexType>
						<xs:sequence>
							<xs:element minOccurs="1" maxOccurs="unbounded"
								name="kiszallito">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="nev" type="xs:string" />
										<xs:element name="telefonszam" type="telefonTipus" />
									</xs:sequence>
									<xs:attribute name="kiszallitoid" type="xs:string" />
									<xs:attribute name="sportuzletid" type="xs:string" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="Key_sportuzlet">
			<xs:selector xpath="sportuzlet" />
			<xs:field xpath="@sportuzletid" />
		</xs:key>
		<xs:key name="Key_futocipo">
			<xs:selector xpath="futocipo" />
			<xs:field xpath="@futocipoid" />
		</xs:key>
		<xs:key name="Key_vasarlo">
			<xs:selector xpath="vasarlo" />
			<xs:field xpath="@vasarloid" />
		</xs:key>
		<xs:key name="Key_szemelyigazolvany">
			<xs:selector xpath="szemelyigazolvany" />
			<xs:field xpath="@sz_igazolvanyid" />
		</xs:key>
		<xs:key name="Key_bankkartya">
			<xs:selector xpath="bankkartya" />
			<xs:field xpath="@kartyaszam" />
		</xs:key>
		<xs:key name="Key_beszallito">
			<xs:selector xpath="beszallito" />
			<xs:field xpath="@beszallitoid" />
		</xs:key>
		<xs:key name="Key_kiszallito">
			<xs:selector xpath="kiszallito" />
			<xs:field xpath="@kiszallitoid" />
		</xs:key>
		<xs:keyref name="FKey_fut_szin_futocipo"
			refer="Key_futocipo">
			<xs:selector xpath="fut_szin" />
			<xs:field xpath="@futocipoid" />
		</xs:keyref>
		<xs:keyref name="FKey_fut_meret_futocipo"
			refer="Key_futocipo">
			<xs:selector xpath="fut_meret" />
			<xs:field xpath="@futocipoid" />
		</xs:keyref>
		<xs:keyref name="FKey_sportuzlet_futocipo"
			refer="Key_futocipo">
			<xs:selector xpath="sportuzlet" />
			<xs:field xpath="@futocipoid" />
		</xs:keyref>
		<xs:keyref name="FKey_beszallitas_baszallito"
			refer="Key_beszallito">
			<xs:selector xpath="beszallitas" />
			<xs:field xpath="@beszallitoid" />
		</xs:keyref>
		<xs:keyref name="FKey_beszallitas_sportuzlet"
			refer="Key_sportuzlet">
			<xs:selector xpath="beszallitas" />
			<xs:field xpath="@sportuzletid" />
		</xs:keyref>
		<xs:keyref name="FKey_kiszallito_sportuzlet"
			refer="Key_sportuzlet">
			<xs:selector xpath="kiszallito" />
			<xs:field xpath="@sportuzletid" />
		</xs:keyref>
		<xs:keyref name="FKey_vasarlo_futocipo" refer="Key_futocipo">
			<xs:selector xpath="vasarlo" />
			<xs:field xpath="@futocipoid" />
		</xs:keyref>
		<xs:keyref name="FKey_szemelyigazolvany_vasarlo" refer="Key_szemelyigazolvany">
			<xs:selector xpath="sz_igazolvanyid" />
			<xs:field xpath="@vasarloid" />
		</xs:keyref>
		<xs:keyref name="FKey_bankkartya_vasarlo"
			refer="Key_vasarlo">
			<xs:selector xpath="bankkartya" />
			<xs:field xpath="@vasarloid" />
		</xs:keyref>
	</xs:element>

	<xs:simpleType name="irányitoszamTipus">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1000" />
			<xs:maxInclusive value="9999" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="szinTipus">
		<xs:restriction base="xs:string">
			<xs:pattern value="Fehér" />
			<xs:pattern value="Fekete" />
			<xs:pattern value="Piros" />
			<xs:pattern value="Kék" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="meretTipus">
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="34" />
			<xs:maxInclusive value="47" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="telefonTipus">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0]{1}[0-9]{2}[0]{1}[0-9]{7}" />
			<xs:pattern value="[+]{1}[0-9]{3}[0]{1}[0-9]{7}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="datumTipus">
		<xs:restriction base="xs:string">

			<!-- 2000.5.1 ,2000.5.01 -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1-9]{1}[.]{1}[1-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1-9]{1}[.]{1}[1-2]{1}[0-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1-9]{1}[.]{1}[0]{1}[1-9]{1}" />

			<!-- 2000.10.2,2000.10.02 -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[0-2]{1}[.]{1}[1-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[0-2]{1}[.]{1}[1-2]{1}[0-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[0-2]{1}[.]{1}[0]{1}[1-9]{1}" />

			<!-- 2000.05.1 ,2000.05.01 -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[1-9]{1}[.]{1}[1-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[1-9]{1}[.]{1}[1-2]{1}[0-9]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[1-9]{1}[.]{1}[0]{1}[1-9]{1}" />

			<!-- január 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[.]{1}[3]{1}[0-1]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[1]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- február 29nap -->

			<!-- március 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[3]{1}[.]{1}[3]{1}[0-1]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[3]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- április 30nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[4]{1}[.]{1}[3]{1}[0]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[4]{1}[.]{1}[3]{1}[0]{1}" />

			<!-- május 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[5]{1}[.]{1}[3]{1}[0-1]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[5]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- június 30nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[6]{1}[.]{1}[3]{1}[0]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[6]{1}[.]{1}[3]{1}[0]{1}" />

			<!-- július 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[7]{1}[.]{1}[3]{1}[0-1]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[7]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- augusztus 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[8]{1}[.]{1}[3]{1}[0-1]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[8]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- szeptember 30nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[9]{1}[.]{1}[3]{1}[0]{1}" />
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[0]{1}[9]{1}[.]{1}[3]{1}[0]{1}" />

			<!-- október 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[0]{1}[.]{1}[3]{1}[0-1]{1}" />

			<!-- november 30nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[1]{1}[.]{1}[3]{1}[0]{1}" />

			<!-- december 31nap -->
			<xs:pattern
				value="[1-9]{1}[0-9]{3}[.]{1}[1]{1}[2]{1}[.]{1}[3]{1}[0-1]{1}" />

		</xs:restriction>
	</xs:simpleType>
</xs:schema>