B7IK21_1026/usersB7IK21.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/usersB7IK21" elementFormDefault="qualified">
	<xs:element name="users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstname" type="xs:string"/>
							<xs:element name="lastname" type="xs:string" />
							<xs:element name="profession" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="id" type="xs:integer" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>